export(flowType)
export(decodePhenotype)
export(plot)
export(summary)
export(getLabels)
export(encodePhenotype)
export(calcNumPops)
export(calcMemUse)
exportClasses(Phenotypes)
importClassesFrom(methods, list, numeric, vector)
importClassesFrom(flowCore, flowFrame)
importMethodsFrom(Biobase, exprs)
importMethodsFrom(methods, show)
importMethodsFrom(rrcov, plot)
importFrom(sfsmisc, digitsBase)
importFrom(flowMeans, flowMeans)
importFrom(rrcov, getData)
importFrom(graphics, abline, axis, par, title)
importFrom(flowCore, filter)
importFrom(flowCore, Subset)
importFrom(flowClust, flowClust)
importFrom(flowMerge, map)
importFrom(stats, kmeans)

useDynLib(flowType)
